.help {
  background-image: url("../assets/6NxGsO.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;    /* Vertical center */
  justify-content: center; /* Horizontal center */
  padding: 2rem;
}

.text-container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}