.help {
  background-image: url("../assets/6NxGsO.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: top;    /* Vertical center */
  justify-content: left; /* Horizontal center */
  padding: 2rem;
}

.text-container {
  width: 100%;
  max-width: 800px;
  text-align: left;
  /* // Move text right */
  margin-left: 20%;
}