/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login h2 {
  margin-bottom: 20px;
  text-align: center;
}

.loginform {
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 0.875em; /* Improved readability */
}

.success-message {
  color: green;
  font-size: 0.875em; /* Define success message style */
}

.loginform label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input, .input2 {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: grey;
}

.link {
  text-align: center;
  margin-top: 10px;
}

/* Additional responsive design */
@media (max-width: 600px) {
  .login {
    margin: 20px;
    padding: 15px;
  }
}
