body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.admin-pictures-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.admin-pictures-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #213547;
  text-align: center;
}

.loading-message, .error-message, .no-pictures-message {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

/* Change the container to use flexbox layout */
.admin-image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Optional: to keep some space between cards */
}

/* Float the cards left */
.admin-image-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 130px;
  float: left;
  margin-right: 20px; /* Optional: to keep some space between cards */
  margin-bottom: 20px; /* Optional: to keep some space between rows */
}

.admin-image-card:hover {
  transform: scale(1.05);
}

.admin-image-item {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.admin-image-item:hover {
  transform: scale(1.05);
}

.photographer-info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.photographer-info a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.photographer-info a:hover {
  color: #0056b3;
}

button.delete {
  color: #213547;
  background-color: white;
}

.rating-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.rating-star {
  font-size: 20px;
  cursor: pointer;
  color: gray;
  transition: color 0.2s ease-in-out;
}

.rating-star.active {
  color: yellow;
}

.rating-star:hover {
  color: gold;
}

.link-2-photo-g {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link-2-photo-g:hover {
  color: #0056b3;
}
