.user-page-container{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8; /* Set the opacity to 1 (fully opaque) */
    background-color: #dabe4f;


  }
  
  .user-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-form .form-group {
    margin-bottom: 15px;
    background-color: #dabe4f;

  }
  
  .user-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #753f3f !important;
    background-color: #dabe4f;
  }
  
  .user-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #753f3f;
    border-radius: 4px;
  }
  
  .user-form .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #753f3f;
  }
  
  .user-form .btn:hover {
    background-color: #0056b3;
  }

  .navlinkuserpage {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }

  .highlight-button {
    width: 123%;
  }